/* DECLARATION COULEURS ET FONTS */
:root {
    --blue-color: #1A1E26;
    --turquoise-color: #71D3B4;
    --grey-color: #E5E5E5;
    --white-color: #ffffff;
    --black-color: #000000;
  }

@font-face {
    font-family: 'openSans-bold';
    src: url('./assets/fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'openSans-semibold';
    src: url('./assets/fonts/Open_Sans/OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'openSans';
    src: url('./assets/fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'ptSerif';
    src: url('./assets/fonts/PT_Serif/PTSerif-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'ptSerif-bold';
    src: url('./assets/fonts/PT_Serif/PTSerif-Bold.ttf') format('truetype');
}

#reservation {
    margin-top: 150px;
}

label {
    width: 100%;
}

input {
    width: 100%;
    font-size: 0.9em;
    height: 50px;
}

#connexion {
    margin-bottom: 50px;
}

#inscription {
    margin-bottom: 50px;
}

.center {
    text-align: center;
    margin-bottom: 40px;
}

h3 {
    font-size: 1.3em;
    margin-bottom: 20px;
}

#descriptionBillet {
    margin-bottom: 40px;
}

.lineThrough {
    text-decoration: line-through;
}

#form_date {
    margin-bottom: 20px;
}

.mx-auto {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

#error {
    text-align: center;
    color: red;
}